@import 'env';
@import 'btn-theme';
@import 'tag';

.box-full{
    @extend %layoutBoxBase;
    max-width: $container-width-full;
}

.box-lg{
    @extend %layoutBoxBase;
    max-width: $container-width-lg;
}
.box-md{
    @extend %layoutBoxBase;
    max-width: $container-width-md;
}

.display-1{
    font-size: 4.5em;
    font-weight: bold;
}

.h2{
    font-size: 2em;
    font-weight: bold;
}
.h3{
    font-size: 1.75em;
    font-weight: bold;
}

.fz-rem100{
    font-size: 1rem;
}
.fz-rem120{
    font-size: 1.2rem;
}
.fz-100{
    font-size: 1em;
}
.fz-120{
    font-size: 1.2em;
}

.fs-italic{
    font-style: italic;
}

.text-center{
    text-align: center;
}

.color-sub{
    color : $sub;
}
.color-main{
    color : $main;
}
.color--hover-main{
    &:hover{
        color : $main;
    }
}
.bg-body{
    background-color: $body-bg;
}
.bg-sub{
    background-color: $sub;
}

.d-none{
    display: none;
}

.d-block{
    display: block;
}

.d-flex{
    display: flex;
}
.f-col{
    flex-direction: column;
}

.f-main-end{
    justify-content: flex-end;
}
.f-main-center{
    justify-content: center;
}

.f-cross-center{
    align-items: center;
}
.f-all-center{
    justify-content: center;
    align-items: center;
}

.f-self-cross-start{
    align-self: flex-start;
}

.flex-1{
    flex : 1 1 1px;
    // ie11 will not stretch when row, and basis is 0;
}
.f-wrap{
    flex-wrap: wrap;
}

.w-full{
    width: 100%;
}

.mg-r-025{
    margin-right: 0.25em;
}
.mg-r-050{
    margin-right: 0.5em;
}
.mg-b-050{
    margin-bottom: 0.5em;
}
.mg-b-100{
    margin-bottom: 1em;
}

.mg-l-050{
    margin-left: 0.5em;
}

.pd-050{
    padding: 0.5em;
}
.pd-100{
    padding: 1em;
}
.pd-200{
    padding: 2em;
}

.pd-t-950{
    padding-top: 9.5em;
}
.pd-t-500{
    padding-top: 5em;
}
.pd-b-500{
    padding-bottom: 5em;
}

.float-r{
    float: right;
}
.z-2{
    z-index: 9998;
}

.z-3{
    z-index: 9997;
}
.z-4{
    z-index: 9996;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    &__u__1-4{
        width: 25%;
    }
    &__u__1-3{
        width: 33.33333333333333%;
    }
    &__u__1-1{
        width: 100%;
    }
    &__u__2-3{
        width: 66.666666666666666666%;
    }
}
.bd-b--contrast{
    border-bottom: 2px solid $contrast;
}
.min-h-300{
    min-height: 300px;
}
.pos-r{
    position: relative;
}
.pos-a{
    position: absolute;
}
.b-0{
    bottom: 0;
}
.r-0{
    right: 0;
}

@include screen{
    .grid{
        &__u__1-4-scr{
            width: 25%;
        }
        &__u__1-3-scr{
            width: 33.33333333333333%;
        }
        &__u__1-2-scr{
            width: 50%;
        }
        &__u__1-1-scr{
            width: 100%;
        }
    }
}

@include pad{
    .d-none-pad{
        display: none;
    }
    .d-block-pad{
        display: block;
    }
    .d-inline-pad{
        display: inline;
    }
    .w-full-pad{
        width: 100%;
    }
    .mg-b-050-pad{
        margin-bottom: 0.5em;
    }
    .d-block-pad{
        display: block;
    }
    .fz-100-pad{
        font-size: 1em;
    }
    .display-3-pad{
        font-size : 3em;
    }
    
    .grid{
        &__u__1-4-pad{
            width: 25%;
        }
        &__u__1-3-pad{
            width: 33.33333333333333%;
        }
        &__u__1-2-pad{
            width: 50%;
        }
        &__u__1-1-pad{
            width: 100%;
        }
    }
}

@include mobile{
    .grid{
        &__u__1-4-mb{
            width: 25%;
        }
        &__u__1-3-mb{
            width: 33.33333333333333%;
        }
        &__u__1-1-mb{
            width:  100%;
        }
    }
}